<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
    </head>
    
    <body>
        <div class="container">
            <h1>Request Header Parser Microservice</h1>
            <p><strong>by <a href="http://www.pontusjansson.se" target="_blank">Pontus Jansson</a></strong></p>
            <p>This is a simple API built as a challenge from freeCodeCamp. The challenge is to build an API that can get the IP address, language and operating system for my browser. <strong>Press the button below to see the API in action.</strong></p>
            <a class="button button-primary" href="/api/whoami">Go to API</a>
        </div>
    </body>
</html>